<%= form_for(@comm) do |f| %>
  <% if @comm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comm.errors.count, "error") %> prohibited this comm from being saved:</h2>

      <ul>
      <% @comm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :video_id %><br>
    <%= f.text_field :video_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
