<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @com.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @com.body %>
</p>

<p>
  <strong>Video:</strong>
  <%= @com.video_id %>
</p>

<%= link_to 'Edit', edit_com_path(@com) %> |
<%= link_to 'Back', coms_path %>
